@media (max-width: 1200px) {
    /*HEADER SECTION*/
    .header {
        margin-top: 20px;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .menu {
        gap: 20px;
    }

    /*HERO SECTION*/
    .hero {
        padding-top: 30vw;

        background-image: linear-gradient(rgb(23 20 20 / 80%),
                                          rgba(0, 0, 0, 0.5)),
                                          url(./images/bg-header.png);
    }

    .hero-title {
        text-shadow: 4px 3px 1px rgba(0,0,0.1);
    }

    .hero-text {
        text-shadow: 4px 3px 1px rgba(0,0,0.1);
        : 1px solid black;
    }


    /*OFFER SECTION*/
    .card-list {
        flex-wrap: wrap;
    }


    /*FOLLOW SECTION*/

    /*NEWS SECTION*/
    .box-news {
        flex-wrap: wrap;
    }


    /*FOOTER SECTION*/

    .footer-wrap {
        margin-bottom: 80px;
    }

    .footer-hidden {
        display: none;
    }

    .footer-1200width {
        display: flex;
        flex-direction: column;

        color: #fff;
    }

    .content-footer {
        margin-bottom: 20px;
    }

    /*  FOOTER MENU  */
    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-menu li {
        cursor: pointer;

        position: relative;
    }

    .footer-menu .footer-sub-item {
        width: 200px;
        padding: 15px 40px;
    }

    .footer-sub-item:hover,
    .footer-sub-item:focus {
        width: 200px;
    }

    .footer-title {
        display: block;
        text-align: center;

        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;

        padding: 10px 10px 10px 0;

        transition: all 0.4s;
    }

    .footer-title:hover,
    .footer-title:focus {
        font-weight: 600;

        margin-right: 20px;

        color: #ff4b32;
    }

    .title-none:hover,
    .title-none:focus {
        font-weight: 400;

        color: #fff;
    }

    .footer-submenu-link {
        display: block;
        text-align: center;

        font-size: 1.125rem;
        line-height: 1.5;

        transition: all .5s;
    }

    .footer-submenu-link:hover,
    .footer-submenu-link:focus {
        font-weight: 600;

        color: #ff4b32;
    }


    .footer-submenu {
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
        padding: 0;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-top: 20px;
    }

    .social-list {
        margin-top: 20px;
    }

    .footer-menu li:hover > ul,
    .footer-menu li:focus > ul {
        display: block;
    }
}