* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

section {
    height: 80%;

    padding-top: 10vh;
    padding-bottom: 10vh;

}

.container {
    max-width: 1410px;

    margin: 0 10vw;
    padding: 0 15px;
}

.title {
    font-size: calc(1.46vw + 22px);
    font-weight: 600;
    line-height: 1.3;

    margin-bottom: 20px;
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;

    color: #000;
}

.text {
    line-height: 1.6;

    opacity: 0.6;
}

/*----------HEADER----------*/
.header {
    position: absolute;
    left: 0;
    right: 0;

    margin-top: 38px;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 138px;

    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;

    color: #FF4B32;
}

.logo-icon {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    gap: 55px;
}

.menu-item {
    min-width: 85px;
    display: flex;
    justify-content: center;
}

.menu-link {
    display: inline-block;

    font-size: 1.125em;
    line-height: 1.6;

    opacity: 0.6;
    color: #fff;
}

.menu-link:hover,
.menu-link:focus {
    font-weight: 700;

    opacity: 1;
    color: #FF4B32;

    transition: font-weight 0.25s,
                color 0.25s,
                opacity 0.25s;
}

/*----------HERO SECTION----------*/
.hero {
    max-height: 46vh;

    padding-top: 15vw;
    padding-bottom: 10vw;

    background-image: url(/images/bg-header.png);
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.hero-inner {
    display: flex;
    flex-direction: column;

}

.hero-content {
    max-width: 525px;
}

.hero-title {
    font-size: calc(2.1vw + 24px);
    /*font-size: calc(24px + (58 - 24) * ((100vw - 375px) / (1920 - 375)));*/
    /*font-size: 3.625em;*/
    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 26px;

    color: #fff;
}

.hero-text {
    font-size: calc(0.28vw + 16px);
    font-weight: 600;
    line-height: 1.6;

    margin-bottom: 48px;

    opacity: 0.8;
    color: #fff;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.6;

    cursor: pointer;

    padding: 16px 35px;

    border: none;
    border-radius: 5px;

    color: #fff;
    background-color: #FF4B32;
}

.btn:hover,
.btn:focus {
    text-shadow: 4px 3px 2px
                 rgba(0,0,0,0.6);
    box-shadow: 7px 7px 25px 0
                rgba(0,0,0,0.75) inset;
    transition: text-shadow 0.4s,
                box-shadow 0.4s;
}


/*----------OFFER SECTION----------*/

.offer-inner > .title {
    text-align: left;
    letter-spacing: 6.45px;

    margin-bottom: 20px;

    color: #000;
}

.offer-text {
    font-size: 1.125em;

    margin-bottom: 60px;

    max-width: 505px;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 107px;
}

.card-item {
    max-width: 310px;
}

.card-img {
    max-width: 303px;
    height: 265px;
}

.card-content {
    margin-top: 35px;
}

.price {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5;
}

.card-subtitle {
    margin: 10px 0 15px 0;
}

.card-text {
    line-height: 1.6;

}


/*----------GALLERY SECTION----------*/
.gallery-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-text {
    font-size: 1.125em;
    text-align: center;

    max-width: 609px;

    margin-bottom: 60px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin-bottom: 70px;
}

.gallery-link {
    font-size: 1.125em;
    line-height: 1.5;

    color: #ff4b32;
}

.gallery-link:hover,
.gallery-link:focus {
    font-weight: 700;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);

    transition: text-shadow 0.4s,
                font-weight 0.4s;
}

/*----------FOLLOW SECTION----------*/
.follow {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 43vh;

    padding: 100px 0;

    background-color: #000;
    background-image: url(/images/follow-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.follow-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-content > .social-list {
    margin-top: 30px;
}

.follow-subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;

    margin-bottom: 65px ;

    color: #ff4b32;
}

.follow-title {
    font-weight: 600;
    line-height: 1.3;
    text-align: center;

    margin-bottom: 60px;

    color: #fff;
}

.follow-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.follow-link-tel,
.follow-link-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-size: 1.5em;
    line-height: 1.5;

    color: #fff;
}

.follow-link:hover,
.follow-link:focus {
    color: #ff4b32;

    transition: color 0.4s;
}

.follow-link-tel:hover path,
.follow-link-tel:focus path {
    fill: #ff4b32;
    transition: fill 0.4s;
}

.follow-link-mail:hover path,
.follow-link-mail:focus path {
    stroke: #ff4b32;

    transition: stroke 0.4s;
}

.social-icon {
    width: 50px;
    height: 50px;
}


/*--------------------NEWS-----------------------*/
.news{
    display: flex;
    text-align: center;

    padding: 140px 0;
}

.news-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}


.news-text {
    font-size: 1.125em;
    line-height: 1.6;

    max-width: 609px;

    margin-bottom: 60px;
}

.box-news{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    gap: 30px;
}

.news-card {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}

.news-wrap {
    display: flex;
    flex-direction: column;
    padding: 30px;

    width: 302px;
}

.news-link {
    font-weight: 600;
    line-height: 1.6;

    width: 100px;

    margin-top: 20px;

    color: #FF4B32;
}

.news-link:hover,
.news-link:focus {
    text-shadow: 1px 1px 2px
                 rgba(0,0,0,0.6);
    font-weight: 700;

    transition: text-shadow 0.4s,
                font-weight 0.4s;
}



/*----------FOOTER----------*/
.footer {
    min-height: 410px;

    background-color: #0D0402;
    background-image: url(/images/bg-footer.svg);
}

.footer-inner {
    display: flex;
    flex-direction: column;
}

.footer-wrap {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 70px;
}

.content-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 60px;
}

.text-footer {
    width: 250px;

    color: #fff;
}

.tel {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.125rem;
    line-height: 1.5;

    width: 180px;

    color: #fff;
}

.tel:hover,
.tel:focus {
    color: #ff4b32;

    transition: color 0.4s;
}

.tel:hover svg path,
.tel:focus svg path {
    fill: #ff4b32;
    transition: fill 0.4s;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    width: 165px;

    margin-top: 80px;
}

.footer-title {
    color: #fff;
}

.footer-link {
    color: #fff;
}

.footer-link:hover,
.footer-link:focus {
    font-weight: 600;

    color: #ff4b32;

    transition: font-weight 0.4s,
                color 0.4s;
}

.footer-social {
    margin-top: 80px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-top: 45px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #ff4b32;

    transition: background-color 0.4s;
}

.footer-icon {
    width: 38px;
    height: 38px;
}

.copyright {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.text-copyright {
    text-align: center;
    
    color: #fff;
}

.footer-1200width {
    display: none;
}


